# Import Necessary Libraries

In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import dask.dataframe as dd

from dask.distributed import Client, LocalCluster

%matplotlib inline

# Loading Data

In [51]:
ddf = dd.read_parquet(r"C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/january_2022-01.parquet", npartiations = 1)
ddf.compute().head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [52]:
ddf.compute().head().T

,0,1,2,3,4
VendorID,1,1,2,2,2
tpep_pickup_datetime,2022-01-01 00:35:40,2022-01-01 00:33:43,2022-01-01 00:53:21,2022-01-01 00:25:21,2022-01-01 00:36:48
tpep_dropoff_datetime,2022-01-01 00:53:29,2022-01-01 00:42:07,2022-01-01 01:02:19,2022-01-01 00:35:23,2022-01-01 01:14:20
passenger_count,2.0,1.0,1.0,1.0,1.0
trip_distance,3.8,2.1,0.97,1.09,4.3
RatecodeID,1.0,1.0,1.0,1.0,1.0
store_and_fwd_flag,N,N,N,N,N
PULocationID,142,236,166,114,68
DOLocationID,236,42,166,68,163
payment_type,1,1,1,2,1
fare_amount,14.5,8.0,7.5,8.0,23.5
extra,3.0,0.5,0.5,0.5,0.5
mta_tax,0.5,0.5,0.5,0.5,0.5
tip_amount,3.65,4.0,1.76,0.0,3.0
tolls_amount,0.0,0.0,0.0,0.0,0.0
improvement_surcharge,0.3,0.3,0.3,0.3,0.3
total_amount,21.95,13.3,10.56,11.8,30.3
congestion_surcharge,2.5,0.0,0.0,2.5,2.5
airport_fee,0.0,0.0,0.0,0.0,0.0

In [53]:
# let me set "tpep_pickup_datetime" as index

In [54]:
ddf = ddf.set_index(ddf.tpep_pickup_datetime, sorted = True)

In [55]:
ddf.compute().head().T

tpep_pickup_datetime,2022-01-01 00:35:40,2022-01-01 00:33:43,2022-01-01 00:53:21,2022-01-01 00:25:21,2022-01-01 00:36:48
VendorID,1,1,2,2,2
tpep_pickup_datetime,2022-01-01 00:35:40,2022-01-01 00:33:43,2022-01-01 00:53:21,2022-01-01 00:25:21,2022-01-01 00:36:48
tpep_dropoff_datetime,2022-01-01 00:53:29,2022-01-01 00:42:07,2022-01-01 01:02:19,2022-01-01 00:35:23,2022-01-01 01:14:20
passenger_count,2.0,1.0,1.0,1.0,1.0
trip_distance,3.8,2.1,0.97,1.09,4.3
RatecodeID,1.0,1.0,1.0,1.0,1.0
store_and_fwd_flag,N,N,N,N,N
PULocationID,142,236,166,114,68
DOLocationID,236,42,166,68,163
payment_type,1,1,1,2,1
fare_amount,14.5,8.0,7.5,8.0,23.5
extra,3.0,0.5,0.5,0.5,0.5
mta_tax,0.5,0.5,0.5,0.5,0.5
tip_amount,3.65,4.0,1.76,0.0,3.0
tolls_amount,0.0,0.0,0.0,0.0,0.0
improvement_surcharge,0.3,0.3,0.3,0.3,0.3
total_amount,21.95,13.3,10.56,11.8,30.3
congestion_surcharge,2.5,0.0,0.0,2.5,2.5
airport_fee,0.0,0.0,0.0,0.0,0.0

In [56]:
ddf.compute().tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
2022-01-31 23:36:53,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,<NA>,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2022-01-31 23:44:22,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,<NA>,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2022-01-31 23:39:00,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,<NA>,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2022-01-31 23:36:42,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,<NA>,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2022-01-31 23:46:00,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,<NA>,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [57]:
ddf.compute().info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2463931 entries, 2022-01-01 00:35:40 to 2022-01-31 23:46:00
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     string
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), string(1)
memory usage: 369.1 MB

In [58]:
# There is datetime64[us](2), float64(12), int64(4), string(1)
# 2463931 rows, 18 columns

In [59]:
ddf.compute().describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,2.463931e+06,2463931,2463931,2.392428e+06,2.463931e+06,2.392428e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.392428e+06,2.392428e+06
mean,1.707819e+00,2022-01-17 01:19:51.689724,2022-01-17 01:34:04.421902,1.389453e+00,5.372751e+00,1.415507e+00,1.660768e+02,1.635807e+02,1.194449e+00,1.294648e+01,1.006710e+00,4.914539e-01,2.385696e+00,3.749773e-01,2.967234e-01,1.916937e+01,2.282322e+00,8.249935e-02
min,1.000000e+00,2008-12-31 22:23:09,2008-12-31 23:06:56,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-4.800000e+02,-4.500000e+00,-5.000000e-01,-1.252200e+02,-3.140000e+01,-3.000000e-01,-4.803000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,2022-01-09 15:37:41,2022-01-09 15:50:50.500000,1.000000e+00,1.040000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,7.200000e-01,0.000000e+00,3.000000e-01,1.130000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2022-01-17 12:11:45,2022-01-17 12:23:49,1.000000e+00,1.740000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,2.000000e+00,0.000000e+00,3.000000e-01,1.469000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2022-01-24 13:49:37.500000,2022-01-24 14:02:51,1.000000e+00,3.130000e+00,1.000000e+00,2.340000e+02,2.360000e+02,1.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,3.000000e+00,0.000000e+00,3.000000e-01,2.002000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,2022-05-18 20:41:57,2022-05-18 20:47:45,9.000000e+00,3.061593e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.010923e+05,3.350000e+01,1.659000e+01,8.888800e+02,1.933000e+02,3.000000e-01,4.010956e+05,2.500000e+00,1.250000e+00
std,5.021375e-01,NaN,NaN,9.829686e-01,5.478714e+02,5.917573e+00,6.546806e+01,7.079016e+01,5.001778e-01,2.558149e+02,1.236226e+00,8.291560e-02,2.830698e+00,1.680538e+00,4.374741e-02,2.559641e+02,7.432040e-01,3.125554e-01

In [60]:
ddf.compute().describe().T

,count,mean,min,25%,50%,75%,max,std
VendorID,2463931.0,1.707819,1.0,1.0,2.0,2.0,6.0,0.502137
tpep_pickup_datetime,2463931,2022-01-17 01:19:51.689724,2008-12-31 22:23:09,2022-01-09 15:37:41,2022-01-17 12:11:45,2022-01-24 13:49:37.500000,2022-05-18 20:41:57,NaN
tpep_dropoff_datetime,2463931,2022-01-17 01:34:04.421902,2008-12-31 23:06:56,2022-01-09 15:50:50.500000,2022-01-17 12:23:49,2022-01-24 14:02:51,2022-05-18 20:47:45,NaN
passenger_count,2392428.0,1.389453,0.0,1.0,1.0,1.0,9.0,0.982969
trip_distance,2463931.0,5.372751,0.0,1.04,1.74,3.13,306159.28,547.871404
RatecodeID,2392428.0,1.415507,1.0,1.0,1.0,1.0,99.0,5.917573
PULocationID,2463931.0,166.076809,1.0,132.0,162.0,234.0,265.0,65.468057
DOLocationID,2463931.0,163.580716,1.0,113.0,162.0,236.0,265.0,70.790159
payment_type,2463931.0,1.194449,0.0,1.0,1.0,1.0,5.0,0.500178
fare_amount,2463931.0,12.946484,-480.0,6.5,9.0,14.0,401092.32,255.814887
extra,2463931.0,1.00671,-4.5,0.0,0.5,2.5,33.5,1.236226
mta_tax,2463931.0,0.491454,-0.5,0.5,0.5,0.5,16.59,0.082916
tip_amount,2463931.0,2.385696,-125.22,0.72,2.0,3.0,888.88,2.830698
tolls_amount,2463931.0,0.374977,-31.4,0.0,0.0,0.0,193.3,1.680538
improvement_surcharge,2463931.0,0.296723,-0.3,0.3,0.3,0.3,0.3,0.043747
total_amount,2463931.0,19.16937,-480.3,11.3,14.69,20.02,401095.62,255.964089
congestion_surcharge,2392428.0,2.282322,-2.5,2.5,2.5,2.5,2.5,0.743204
airport_fee,2392428.0,0.082499,-1.25,0.0,0.0,0.0,1.25,0.312555

In [61]:
ddf.compute().columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [62]:
# We just need 'VendorID','tpep_pickup_datetime','passenger_count' this three columns for this project

In [63]:
resample = ddf.resample('H').agg({'passenger_count': 'sum','fare_amount':'median', 'VendorID': 'count'})
resample.compute()

                      passenger_count  fare_amount  VendorID
tpep_pickup_datetime
2008-12-31 22:00:00               1.0         12.0         1
2008-12-31 23:00:00               9.0          7.5         5
2009-01-01 00:00:00               7.0          7.0         5
2009-01-01 01:00:00               0.0          NaN         0
2009-01-01 02:00:00               0.0          NaN         0
...                               ...          ...       ...
2022-05-18 16:00:00               0.0          NaN         0
2022-05-18 17:00:00               0.0          NaN         0
2022-05-18 18:00:00               0.0          NaN         0
2022-05-18 19:00:00               0.0          NaN         0
2022-05-18 20:00:00               8.0          6.5         2

[117263 rows x 3 columns]

In [64]:
resample.rename(columns={'passenger_count': 'passenger_demand','VendorID': 'taxi_demand'}).compute()

                      passenger_demand  fare_amount  taxi_demand
tpep_pickup_datetime
2008-12-31 22:00:00                1.0         12.0            1
2008-12-31 23:00:00                9.0          7.5            5
2009-01-01 00:00:00                7.0          7.0            5
2009-01-01 01:00:00                0.0          NaN            0
2009-01-01 02:00:00                0.0          NaN            0
...                                ...          ...          ...
2022-05-18 16:00:00                0.0          NaN            0
2022-05-18 17:00:00                0.0          NaN            0
2022-05-18 18:00:00                0.0          NaN            0
2022-05-18 19:00:00                0.0          NaN            0
2022-05-18 20:00:00                8.0          6.5            2

[117263 rows x 3 columns]

# Optimize For Memory

In [65]:
! ls -lrt C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022*.parquet | wc -l

2

In [66]:
! ls C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/*.parquet

C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/V2_Clean_Data.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/V3_FeatureEngineering_Data.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/V4_FeatureSelection_Data.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/V5_NormalizeScaling_trainData.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/V6_ReduceDimension_Data.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/april_2022-04.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/august_2022-08.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/december_2022-12.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/february_2022-02.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/january_2022-01.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/july_2022-07.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/june_2022-06.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/march_2022-03.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/may_2022-05.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/november_2022-11.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/october_2022-10.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/september_2022-09.parquet

In [67]:
##### Create Cluster ##########

In [68]:
cluster = LocalCluster(
    name='timeseries',
    n_workers=2,
    threads_per_worker=1,
    host='localhost',
    scheduler_port=8786,
    asynchronous=True, 
    processes=False
)
client = Client()
client

c:\Users\SRA\Desktop\backup\C\MLgrit\time_series_project\timeseriesENV\lib\site-packages\distributed\node.py:182: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 52926 instead
  warnings.warn(

In [ ]:
def create_hourly_stamp(row: pd.Timestamp) -> pd.Timestamp:
    """
    It Will create hourly time stamp for Forecasting
    """
    hour = row.time().hour
    date = row.date()
    return pd.Timestamp(hour=hour, minute=0, second=0, microsecond=0, day=date.day, month=date.month, year=date.year)

In [69]:
############## Steps ####################

In [70]:
def optimeToFitMemory(ddf):
    new_types = dict(
        int32 = ['passenger_count',],
        int16 = ['VendorID',]
    )
    for key in new_types:
        for col in new_types[key]:
            ddf[col] = ddf[col].astype(key)
    return ddf

In [71]:
ddf = dd.read_parquet('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/january_2022-01.parquet', npartitions=4)
s1 = ddf.loc[
    ddf.tpep_pickup_datetime>'2021-12-31 23:00:00', 
    ['tpep_pickup_datetime','passenger_count', 'VendorID']
]
s2 = s1.set_index('tpep_pickup_datetime', sorted=True)
s3 = s2.ffill()
s4 = s3.resample('H').agg({'passenger_count': 'sum', 'VendorID': 'count'})
s5 = s4.map_partitions(optimeToFitMemory)
s6 = s5.reset_index()
s6.to_parquet('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022.parquet', append=True, ignore_divisions=True)

In [72]:
s6.dask

HighLevelGraph with 12 layers.
<dask.highlevelgraph.HighLevelGraph object at 0x2013ea2b460>
 0. read-parquet-d0092a496fb7d045b45cec4272dc156f
 1. getitem-501a57ba44eb43ba6a5ccc3582562f4d
 2. gt-f8689a1bdceff8709db7f79dfb35fe0e
 3. loc-series-681f59234fecf431e9bf37c06e6bdae3
 4. set_index-db6d44cacaf9d0bbce25030af88521c7
 5. fillna-chunk-138caa5abd977786811004c4002aa06e
 6. overlap-concat-956d61725df02581f24f19f307d04a25
 7. overlap-ffill-214bc35cce523f0457456bb3fe162d0a
 8. repartition-merge-5c934f6346a428632125fe33f82cba2e
 9. resample-17074d15cb2c89755b4dfac7eb05aebc
 10. optimeToFitMemory-7fc67abbe714b40f980917df7f8c5e8a
 11. reset_index-f1d887718e6a5bedfb8ad98eda3ba31b

In [73]:
files = [
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/april_2022-04.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/august_2022-08.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/december_2022-12.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/february_2022-02.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/january_2022-01.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/july_2022-07.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/june_2022-06.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/march_2022-03.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/may_2022-05.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/november_2022-11.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/october_2022-10.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/september_2022-09.parquet',
]

In [74]:
optimized_df = pd.DataFrame(
    {
        'tpep_pickup_datetime': [pd.Timestamp(year=2022, month=1, day=1, hour=0, minute=0, second=0)],
        'passenger_count':[0,],
        'VendorID': [0,]
    }
)


for file in files:
    ddf = dd.read_parquet(file, npartitions=100)
    s1 = ddf.loc[
        ddf.tpep_pickup_datetime >= '2022-01-01 00:00:00', 
        ['tpep_pickup_datetime','passenger_count', 'VendorID']
    ]
    s2 = s1.set_index('tpep_pickup_datetime', sorted=True)
    s3 = s2.ffill()
    s4 = s3.resample('H').agg({'passenger_count': 'sum', 'VendorID': 'count'})
    s5 = s4.map_partitions(optimeToFitMemory)
    s6 = s5.reset_index()
    optimized_df = pd.concat([optimized_df, s6.compute()], axis=0, ignore_index=True)

In [75]:
optimized_df.shape

(21626, 3)

In [76]:
optimized_df.head()

  tpep_pickup_datetime  passenger_count  VendorID
0  2022-01-01 00:00:00                0         0
1  2022-03-31 15:00:00                4         4
2  2022-03-31 16:00:00                3         3
3  2022-03-31 17:00:00                0         0
4  2022-03-31 18:00:00                0         0

In [80]:
optimized_df.tail()

      tpep_pickup_datetime  passenger_count  VendorID
21621  2022-09-30 20:00:00             9959      6905
21622  2022-09-30 21:00:00            10046      6894
21623  2022-09-30 22:00:00            10244      6999
21624  2022-09-30 23:00:00             9633      6547
21625  2022-10-01 00:00:00               47        19

In [81]:
# Rename desired columns name

In [82]:
optimized_df.rename(columns={'passenger_count': 'passenger_demand','VendorID': 'taxi_demand'}, inplace=True)

In [83]:
optimized_df.head()

  tpep_pickup_datetime  passenger_demand  taxi_demand
0  2022-01-01 00:00:00                 0            0
1  2022-03-31 15:00:00                 4            4
2  2022-03-31 16:00:00                 3            3
3  2022-03-31 17:00:00                 0            0
4  2022-03-31 18:00:00                 0            0

In [43]:
optimized_df.tail()

      tpep_pickup_datetime  passenger_demand  taxi_demand
21621  2022-09-30 20:00:00              9959         6905
21622  2022-09-30 21:00:00             10046         6894
21623  2022-09-30 22:00:00             10244         6999
21624  2022-09-30 23:00:00              9633         6547
21625  2022-10-01 00:00:00                47           19

In [84]:
optimized_df.isnull().sum()

tpep_pickup_datetime    0
passenger_demand        0
taxi_demand             0
dtype: int64

In [85]:
optimized_df.drop([0, 21625], inplace=True)

# Save The Data

In [87]:
optimized_df.to_csv('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022.csv', index=False)

In [ ]:
# Check The data that is it okay or not

In [88]:
pd.read_csv('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022.csv', encoding='unicode_escape')

      tpep_pickup_datetime  passenger_demand  taxi_demand
0      2022-03-31 15:00:00                 4            4
1      2022-03-31 16:00:00                 3            3
2      2022-03-31 17:00:00                 0            0
3      2022-03-31 18:00:00                 0            0
4      2022-03-31 19:00:00                 0            0
...                    ...               ...          ...
21619  2022-09-30 19:00:00             12107         8576
21620  2022-09-30 20:00:00              9959         6905
21621  2022-09-30 21:00:00             10046         6894
21622  2022-09-30 22:00:00             10244         6999
21623  2022-09-30 23:00:00              9633         6547

[21624 rows x 3 columns]

# Extract Pipeline

In [12]:
import dask.dataframe as dd

# URL of the Parquet file
url = "https://d37ci6vzurychx.cloudfront.net/uber-taxi-demand/data/2023/january_2023-01.parquet"

# Read the Parquet file directly into a Dask DataFrame
df = dd.read_parquet(url, engine="pyarrow", npartitions=2)

# If you want to compute and save the Dask DataFrame as a single Parquet file
output_path = "yellow_tripdata_2023-10_dask.parquet"
print(df.shape)
# df.to_parquet(output_path, engine="pyarrow", compression="snappy")

# If you want to compute and save the Dask DataFrame as multiple Parquet files (partitions)
# output_path = "yellow_tripdata_2023-10_dask"
# df.to_parquet(output_path, engine="pyarrow", compression="snappy", write_index=False)

In [5]:
def optimeToFitMemory(ddf):
    new_types = dict(
        int32 = ['passenger_count',],
        int16 = ['VendorID',]
    )
    for key in new_types:
        for col in new_types[key]:
            ddf[col] = ddf[col].astype(key)
    return ddf

In [6]:
def extract(path: str) -> None:
    
    # Read the Parquet file directly into a Dask DataFrame
    ddf = dd.read_parquet(path, engine="pyarrow")

    # If you want to compute and save the Dask DataFrame as a single Parquet file
    # output_path = "yellow_tripdata_2023-10_dask.parquet"
    # df.to_parquet(output_path, engine="pyarrow", compression="snappy")


    after = path.split('.parquet')[0][-7:] + '-01 00:00:00'
    s1 = ddf.loc[
        ddf.tpep_pickup_datetime >= after, 
        ['tpep_pickup_datetime','passenger_count', 'VendorID']
    ]
    s2 = s1.set_index('tpep_pickup_datetime', sorted=True)
    s3 = s2.ffill()
    s4 = s3.resample('H').agg({'passenger_count': 'sum', 'VendorID': 'count'})
    s5 = s4.map_partitions(optimeToFitMemory)
    s6 = s5.reset_index()
    
    
    # If you want to compute and save the Dask DataFrame as multiple Parquet files (partitions)
    output_path = "yellow_tripdata_2023-10_dask.parquet"
    
    # s6.compute().to_parquet(output_path, engine="pyarrow", compression="snappy")
    # print(s6.compute().shape[0])
    return s6.compute()

In [7]:
extract(r'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/january_2023-01.parquet')

    tpep_pickup_datetime  passenger_count  VendorID
0    2023-01-01 00:00:00             8240      5336
1    2023-01-01 01:00:00             8770      5752
2    2023-01-01 02:00:00             7639      5097
3    2023-01-01 03:00:00             5602      3952
4    2023-01-01 04:00:00             3580      2501
..                   ...              ...       ...
740  2023-01-31 20:00:00             7959      6163
741  2023-01-31 21:00:00             8131      6223
742  2023-01-31 22:00:00             6875      5127
743  2023-01-31 23:00:00             4010      3041
744  2023-02-01 00:00:00               16        10

[745 rows x 3 columns]

In [8]:
'https://d37ci6vzurychx.cloudfront.net/uber-taxi-demand/data/2023/january_2023-01.parquet'.split('.parquet')[0][-7:] + '-01 00:00:00'

'2023-01-01 00:00:00'