# Import Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import dask.dataframe as dd

from dask.distributed import Client, LocalCluster

%matplotlib inline

# Loading Data

In [2]:
ddf = dd.read_parquet(r"C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/january_2023-01.parquet", npartiations = 1)
ddf.compute().head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [3]:
ddf.compute().head().T

,0,1,2,3,4
VendorID,2,2,2,1,2
tpep_pickup_datetime,2023-01-01 00:32:10,2023-01-01 00:55:08,2023-01-01 00:25:04,2023-01-01 00:03:48,2023-01-01 00:10:29
tpep_dropoff_datetime,2023-01-01 00:40:36,2023-01-01 01:01:27,2023-01-01 00:37:49,2023-01-01 00:13:25,2023-01-01 00:21:19
passenger_count,1.0,1.0,1.0,0.0,1.0
trip_distance,0.97,1.1,2.51,1.9,1.43
RatecodeID,1.0,1.0,1.0,1.0,1.0
store_and_fwd_flag,N,N,N,N,N
PULocationID,161,43,48,138,107
DOLocationID,141,237,238,7,79
payment_type,2,1,1,1,1
fare_amount,9.3,7.9,14.9,12.1,11.4
extra,1.0,1.0,1.0,7.25,1.0
mta_tax,0.5,0.5,0.5,0.5,0.5
tip_amount,0.0,4.0,15.0,0.0,3.28
tolls_amount,0.0,0.0,0.0,0.0,0.0
improvement_surcharge,1.0,1.0,1.0,1.0,1.0
total_amount,14.3,16.9,34.9,20.85,19.68
congestion_surcharge,2.5,2.5,2.5,0.0,2.5
airport_fee,0.0,0.0,0.0,1.25,0.0

In [4]:
# let me set "tpep_pickup_datetime" as index

In [5]:
ddf = ddf.set_index(ddf.tpep_pickup_datetime, sorted = True)

In [6]:
ddf.compute().head().T

tpep_pickup_datetime,2023-01-01 00:32:10,2023-01-01 00:55:08,2023-01-01 00:25:04,2023-01-01 00:03:48,2023-01-01 00:10:29
VendorID,2,2,2,1,2
tpep_pickup_datetime,2023-01-01 00:32:10,2023-01-01 00:55:08,2023-01-01 00:25:04,2023-01-01 00:03:48,2023-01-01 00:10:29
tpep_dropoff_datetime,2023-01-01 00:40:36,2023-01-01 01:01:27,2023-01-01 00:37:49,2023-01-01 00:13:25,2023-01-01 00:21:19
passenger_count,1.0,1.0,1.0,0.0,1.0
trip_distance,0.97,1.1,2.51,1.9,1.43
RatecodeID,1.0,1.0,1.0,1.0,1.0
store_and_fwd_flag,N,N,N,N,N
PULocationID,161,43,48,138,107
DOLocationID,141,237,238,7,79
payment_type,2,1,1,1,1
fare_amount,9.3,7.9,14.9,12.1,11.4
extra,1.0,1.0,1.0,7.25,1.0
mta_tax,0.5,0.5,0.5,0.5,0.5
tip_amount,0.0,4.0,15.0,0.0,3.28
tolls_amount,0.0,0.0,0.0,0.0,0.0
improvement_surcharge,1.0,1.0,1.0,1.0,1.0
total_amount,14.3,16.9,34.9,20.85,19.68
congestion_surcharge,2.5,2.5,2.5,0.0,2.5
airport_fee,0.0,0.0,0.0,1.25,0.0

In [7]:
ddf.compute().tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
2023-01-31 23:58:34,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,<NA>,107,48,0,15.80,0.0,0.5,3.96,0.0,1.0,23.76,NaN,NaN
2023-01-31 23:31:09,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,<NA>,112,75,0,22.43,0.0,0.5,2.64,0.0,1.0,29.07,NaN,NaN
2023-01-31 23:01:05,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,<NA>,114,239,0,17.61,0.0,0.5,5.32,0.0,1.0,26.93,NaN,NaN
2023-01-31 23:40:00,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,<NA>,230,79,0,18.15,0.0,0.5,4.43,0.0,1.0,26.58,NaN,NaN
2023-01-31 23:07:32,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,<NA>,262,143,0,15.97,0.0,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [8]:
ddf.compute().info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3066766 entries, 2023-01-01 00:32:10 to 2023-01-31 23:07:32
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     string
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), string(1)
memory usage: 459.5 MB

In [9]:
# There is datetime64[us](2), float64(12), int64(4), string(1)
# 2463931 rows, 18 columns

In [10]:
ddf.compute().describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,3.066766e+06,3066766,3066766,2.995023e+06,3.066766e+06,2.995023e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,2.995023e+06,2.995023e+06
mean,1.730215e+00,2023-01-17 00:22:26.288164,2023-01-17 00:38:06.427874,1.362532e+00,3.847342e+00,1.497440e+00,1.663980e+02,1.643926e+02,1.194483e+00,1.836707e+01,1.537842e+00,4.882900e-01,3.367941e+00,5.184907e-01,9.820847e-01,2.702038e+01,2.274231e+00,1.074086e-01
min,1.000000e+00,2008-12-31 23:01:42,2009-01-01 14:29:11,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-9.000000e+02,-7.500000e+00,-5.000000e-01,-9.622000e+01,-6.500000e+01,-1.000000e+00,-7.510000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,2023-01-09 16:21:57.250000,2023-01-09 16:37:06,1.000000e+00,1.060000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.540000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2023-01-17 08:42:29.500000,2023-01-17 08:58:30.500000,1.000000e+00,1.800000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.720000e+00,0.000000e+00,1.000000e+00,2.016000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2023-01-24 16:26:27,2023-01-24 16:42:49,1.000000e+00,3.330000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.050000e+01,2.500000e+00,5.000000e-01,4.200000e+00,0.000000e+00,1.000000e+00,2.870000e+01,2.500000e+00,0.000000e+00
max,2.000000e+00,2023-02-01 00:56:53,2023-02-02 09:28:47,9.000000e+00,2.589281e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,1.160100e+03,1.250000e+01,5.316000e+01,3.808000e+02,1.969900e+02,1.000000e+00,1.169400e+03,2.500000e+00,1.250000e+00
std,4.438480e-01,NaN,NaN,8.961200e-01,2.495838e+02,6.474767e+00,6.424413e+01,6.994368e+01,5.294762e-01,1.780782e+01,1.789592e+00,1.034641e-01,3.826759e+00,2.017579e+00,1.833529e-01,2.216359e+01,7.718454e-01,3.556511e-01

In [11]:
ddf.compute().describe().T

,count,mean,min,25%,50%,75%,max,std
VendorID,3066766.0,1.730215,1.0,1.0,2.0,2.0,2.0,0.443848
tpep_pickup_datetime,3066766,2023-01-17 00:22:26.288164,2008-12-31 23:01:42,2023-01-09 16:21:57.250000,2023-01-17 08:42:29.500000,2023-01-24 16:26:27,2023-02-01 00:56:53,NaN
tpep_dropoff_datetime,3066766,2023-01-17 00:38:06.427874,2009-01-01 14:29:11,2023-01-09 16:37:06,2023-01-17 08:58:30.500000,2023-01-24 16:42:49,2023-02-02 09:28:47,NaN
passenger_count,2995023.0,1.362532,0.0,1.0,1.0,1.0,9.0,0.89612
trip_distance,3066766.0,3.847342,0.0,1.06,1.8,3.33,258928.15,249.583756
RatecodeID,2995023.0,1.49744,1.0,1.0,1.0,1.0,99.0,6.474767
PULocationID,3066766.0,166.398046,1.0,132.0,162.0,234.0,265.0,64.244131
DOLocationID,3066766.0,164.392631,1.0,114.0,162.0,234.0,265.0,69.943682
payment_type,3066766.0,1.194483,0.0,1.0,1.0,1.0,4.0,0.529476
fare_amount,3066766.0,18.367069,-900.0,8.6,12.8,20.5,1160.1,17.807822
extra,3066766.0,1.537842,-7.5,0.0,1.0,2.5,12.5,1.789592
mta_tax,3066766.0,0.48829,-0.5,0.5,0.5,0.5,53.16,0.103464
tip_amount,3066766.0,3.367941,-96.22,1.0,2.72,4.2,380.8,3.826759
tolls_amount,3066766.0,0.518491,-65.0,0.0,0.0,0.0,196.99,2.017579
improvement_surcharge,3066766.0,0.982085,-1.0,1.0,1.0,1.0,1.0,0.183353
total_amount,3066766.0,27.020383,-751.0,15.4,20.16,28.7,1169.4,22.163589
congestion_surcharge,2995023.0,2.274231,-2.5,2.5,2.5,2.5,2.5,0.771845
airport_fee,2995023.0,0.107409,-1.25,0.0,0.0,0.0,1.25,0.355651

In [12]:
ddf.compute().columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [13]:
# We just need 'VendorID','tpep_pickup_datetime','passenger_count' this three columns for this project

In [14]:
resample = ddf.resample('H').agg({'passenger_count': 'sum','fare_amount':'median', 'VendorID': 'count'})
resample.compute()

                      passenger_count  fare_amount  VendorID
tpep_pickup_datetime
2008-12-31 23:00:00               2.0        35.00         2
2009-01-01 00:00:00               0.0          NaN         0
2009-01-01 01:00:00               0.0          NaN         0
2009-01-01 02:00:00               0.0          NaN         0
2009-01-01 03:00:00               0.0          NaN         0
...                               ...          ...       ...
2023-01-31 20:00:00            7871.0        12.10      6163
2023-01-31 21:00:00            8002.0        12.80      6223
2023-01-31 22:00:00            6759.0        12.80      5127
2023-01-31 23:00:00            3960.0        13.50      3041
2023-02-01 00:00:00              16.0        13.85        10

[123458 rows x 3 columns]

In [15]:
resample.rename(columns={'passenger_count': 'passenger_demand','VendorID': 'taxi_demand'}).compute()

                      passenger_demand  fare_amount  taxi_demand
tpep_pickup_datetime
2008-12-31 23:00:00                2.0        35.00            2
2009-01-01 00:00:00                0.0          NaN            0
2009-01-01 01:00:00                0.0          NaN            0
2009-01-01 02:00:00                0.0          NaN            0
2009-01-01 03:00:00                0.0          NaN            0
...                                ...          ...          ...
2023-01-31 20:00:00             7871.0        12.10         6163
2023-01-31 21:00:00             8002.0        12.80         6223
2023-01-31 22:00:00             6759.0        12.80         5127
2023-01-31 23:00:00             3960.0        13.50         3041
2023-02-01 00:00:00               16.0        13.85           10

[123458 rows x 3 columns]

# Optimize For Memory

In [17]:
! ls -lrt C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/*.parquet | wc -l

9

In [18]:
! ls C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/*.parquet

C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/July_2023-07.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/april_2023-04.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/august_2023-08.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/february_2023-02.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/january_2023-01.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/june_2023-06.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/march_2023-03.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/may_2023-05.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/september_2023-09.parquet

In [19]:
##### Create Cluster ##########

In [20]:
cluster = LocalCluster(
    name='timeseries',
    n_workers=2,
    threads_per_worker=1,
    host='localhost',
    scheduler_port=8786,
    asynchronous=True, 
    processes=False
)
client = Client()
client

In [21]:
############## Steps ####################

In [22]:
def optimeToFitMemory(ddf):
    new_types = dict(
        int32 = ['passenger_count',],
        int16 = ['VendorID',]
    )
    for key in new_types:
        for col in new_types[key]:
            ddf[col] = ddf[col].astype(key)
    return ddf

In [23]:
ddf = dd.read_parquet('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/january_2023-01.parquet', npartitions=4)
s1 = ddf.loc[
    ddf.tpep_pickup_datetime>'2021-12-31 23:00:00', 
    ['tpep_pickup_datetime','passenger_count', 'VendorID']
]
s2 = s1.set_index('tpep_pickup_datetime', sorted=True)
s3 = s2.ffill()
s4 = s3.resample('H').agg({'passenger_count': 'sum', 'VendorID': 'count'})
s5 = s4.map_partitions(optimeToFitMemory)
s6 = s5.reset_index()
s6.to_parquet('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023.parquet', append=True, ignore_divisions=True)

In [24]:
s6.dask

HighLevelGraph with 12 layers.
<dask.highlevelgraph.HighLevelGraph object at 0x1401b9719c0>
 0. read-parquet-73d70bf41b59931fb9f07cf45ccb575d
 1. getitem-2c227a918c158fca6cc5b86f37230f9a
 2. gt-51169c441e136473935ffe19807fa5b8
 3. loc-series-8361e2bbd7578deff47a472ed1b5da7f
 4. set_index-87a5ec91fba1912e6c130c187bac3b87
 5. fillna-chunk-0792ba6bb6ca0fafc78a0f63ed7ed116
 6. overlap-concat-01d3604381e8ce466d2c1b3443a69160
 7. overlap-ffill-f3bd947f9453ac142de95b8bab6cdaed
 8. repartition-merge-93d501e844ea4e350011427f662eba84
 9. resample-a5a5c33c5c804e68efc16b80523c4070
 10. optimeToFitMemory-a8c5002af6467c47ae78b083aaf9aeab
 11. reset_index-62ff41434568e7f57603e6d51bf13ca6

In [27]:
files = [
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/april_2023-04.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/august_2023-08.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/september_2023-09.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/february_2023-02.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/january_2023-01.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/july_2023-07.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/june_2023-06.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/march_2023-03.parquet',
    'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023/may_2023-05.parquet',
]

In [28]:
optimized_df = pd.DataFrame(
    {
        'tpep_pickup_datetime': [pd.Timestamp(year=2022, month=1, day=1, hour=0, minute=0, second=0)],
        'passenger_count':[0,],
        'VendorID': [0,]
    }
)


for file in files:
    ddf = dd.read_parquet(file, npartitions=100)
    s1 = ddf.loc[
        ddf.tpep_pickup_datetime >= '2022-01-01 00:00:00', 
        ['tpep_pickup_datetime','passenger_count', 'VendorID']
    ]
    s2 = s1.set_index('tpep_pickup_datetime', sorted=True)
    s3 = s2.ffill()
    s4 = s3.resample('H').agg({'passenger_count': 'sum', 'VendorID': 'count'})
    s5 = s4.map_partitions(optimeToFitMemory)
    s6 = s5.reset_index()
    optimized_df = pd.concat([optimized_df, s6.compute()], axis=0, ignore_index=True)

In [29]:
optimized_df.shape

(12889, 3)

In [30]:
# Rename desired columns name

In [31]:
optimized_df.rename(columns={'passenger_count': 'passenger_demand','VendorID': 'taxi_demand'}, inplace=True)

In [32]:
optimized_df.head()

  tpep_pickup_datetime  passenger_demand  taxi_demand
0  2022-01-01 00:00:00                 0            0
1  2023-03-31 16:00:00                 7            7
2  2023-03-31 17:00:00                 0            0
3  2023-03-31 18:00:00                 0            0
4  2023-03-31 19:00:00                 0            0

In [33]:
optimized_df.tail()

      tpep_pickup_datetime  passenger_demand  taxi_demand
12884  2023-09-05 14:00:00                 0            0
12885  2023-09-05 15:00:00                 0            0
12886  2023-09-05 16:00:00                 0            0
12887  2023-09-05 17:00:00                 0            0
12888  2023-09-05 18:00:00                 1            1

In [34]:
optimized_df.isnull().sum()

tpep_pickup_datetime    0
passenger_demand        0
taxi_demand             0
dtype: int64

In [36]:
optimized_df.drop([0, 12888], inplace=True)

# Save The Data

In [38]:
optimized_df.to_csv('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023.csv', index=False)

In [ ]:
# Check The data that is it okay or not

In [39]:
pd.read_csv('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2023.csv', encoding='unicode_escape')

      tpep_pickup_datetime  passenger_demand  taxi_demand
0      2023-03-31 16:00:00                 7            7
1      2023-03-31 17:00:00                 0            0
2      2023-03-31 18:00:00                 0            0
3      2023-03-31 19:00:00                 0            0
4      2023-03-31 20:00:00                 0            0
...                    ...               ...          ...
12882  2023-09-05 13:00:00                 0            0
12883  2023-09-05 14:00:00                 0            0
12884  2023-09-05 15:00:00                 0            0
12885  2023-09-05 16:00:00                 0            0
12886  2023-09-05 17:00:00                 0            0

[12887 rows x 3 columns]

2024-01-04 14:56:14,891 - distributed.scheduler - WARNING - Worker failed to heartbeat within 300 seconds. Closing: <WorkerState 'tcp://127.0.0.1:51206', name: 1, status: running, memory: 0, processing: 0>
2024-01-04 14:56:15,573 - distributed.scheduler - WARNING - Worker failed to heartbeat within 300 seconds. Closing: <WorkerState 'tcp://127.0.0.1:51208', name: 2, status: running, memory: 0, processing: 0>
2024-01-04 14:56:15,595 - distributed.scheduler - WARNING - Received heartbeat from unregistered worker 'tcp://127.0.0.1:51208'.
2024-01-04 14:56:16,238 - distributed.scheduler - WARNING - Received heartbeat from unregistered worker 'tcp://127.0.0.1:51206'.
2024-01-04 14:56:19,645 - distributed.nanny - WARNING - Restarting worker